@use "normalize.css";

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/ProximaNova-Light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/ProximaNova-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/ProximaNova-Extrabld.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/ProximaNova-Thin.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

$Light: 200;
$Regular: 400;
$Bold: 600;
$Extrabold: 700;
$Thin: 800;
$color-black: #444444;
$pad-left: 70px;
$pad-right: 68px;

body {
  font-family: "Montserrat", sans-serif;
  font-weight: $Regular;
}
main {
  position: relative;
}
.app {
  max-width: 1250px;
  margin: 0 auto;
}
